
  
*{
    margin: 0px;
    padding: 0px;
    background-image: url('./img/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.heads{
    font-family: "Agu Display", serif;

padding: 30px;
}
#form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
    font-family: "Playwrite CA Guides", cursive;
}
#city{
   margin:30px 20px;
   text-decoration: none;
   color: rgb(248, 247, 247);
   border: 2px solid rgb(196, 174, 174);
   border-radius: 20px;
   text-align: center;
}
#result{
    color: white;
    margin: 20px 30px;
    padding: 10px 10px;
    border: 2px solid rgb(196, 174, 174);
   border-radius: 20px;
   text-align: center;
   background-color: transparent;
   cursor: pointer;
   transition: all 0.3s ease;
}
#result:hover{
    background-color: #ffffff;
    color: black;
    border-color: black;
}
h3{
    font-family: "Poppins", sans-serif;
    font-weight: 1000;
    font-size: larger;
    font-style: normal;
}